/* Header nav bar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.nav-grid {
    display: grid;
    grid-template-columns: 1fr;
}
.logo-burger {
    padding: 1em 2rem;
    background-color: var(--dark-bgc-color);
    display: flex;
    justify-content: space-between;
}
.main-logo {
    text-decoration: none;
    font-style: italic;
}
.fa-rust {
    font-size: 0.6rem;
}

.main-nav {
    background-color: var(--dark-bgc-color);
    display: none;
    max-width: 150px;
    justify-self: end;
}

.main-nav-toggle {
    font-size: 1.4rem;
    align-self: center;
    justify-self: right;
    cursor: pointer;
    color: var(--light-text-color);
}
.main-nav.active {
    display: block;
}

.main-nav__link {
    text-decoration: none;
    padding: 0.2rem 1rem;
    color: var(--light-text-color);
    display: block;
}
.main-nav__link:last-child {
    padding-bottom: 0.5rem;
}

.main-logo {
    font-size: 2rem;
    color: var(--light-text-color);
}

/* Hero area */

.hero {
    background-image: url('../Photos/hero-img/hero.jpg');
    width: 100%;
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.hero__container {
    min-height: 400px;
    text-align: center;
    padding-top: 40%;
}

.hero__title {
    font-size: 2rem;
    margin-bottom: 0.3em;
    color: var(--light-text-color);
}

.hero__subtitle {
    color: var(--light-text-color);
    font-size: 0.8rem;
}

.section__title {
    padding-top: 2rem;
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--dark-text-color);
}

.section__subtitle {
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: normal;
    color: var(--medium-text-color);
}

.section__paragraph {
    margin: 0;
    padding-bottom: 1rem;
}

.box-shadow {
    box-shadow: 3px 3px 6px var(--main-bgc-color);
}
