/* Projects gallery */

.projects__photos {
    background-color: var(--white-bgc-color);
    border-radius: var(--small-bd-radius);
}

.project__img {
    width: calc(100% - 2rem);
    margin: 0.5rem 1rem;
    border-radius: var(--small-bd-radius);
}

.project__img:first-child {
    margin-top: 1rem;
}

.project__img:last-child {
    margin-bottom: 1rem;
}
