@media screen and (min-width: 470px) {
    /* Team members */
    .member__name {
        font-size: 1.4rem;
    }
    .connections i {
        font-size: 1.6rem;
        padding-right: 0.4rem;
        color: var(--dark-text-color);
    }
    /* Contact-us */

    .contacts__box {
        padding: 1rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .contacts__box-title {
        padding-right: 0.5rem;
        width: 30%;
    }
    .subtitle__box {
        border-left: 1px solid var(--medium-text-color);
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        width: 50%;
    }

    /* Footer */

    .footer .main-container {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 2fr 2fr;
        row-gap: 2rem;
        column-gap: 2rem;
        grid-template-areas:
            'quick-links follow-us'
            'subscribe subscribe'
            'copyrights copyrights';
    }

    .footer-links {
        grid-area: quick-links;
    }
    .footer-follow-us {
        grid-area: follow-us;
    }
    .footer-about-us {
        grid-area: about-us;
    }
    .footer-subscribe {
        grid-area: subscribe;
    }

    .copyrights {
        grid-area: copyrights;
    }
    .icons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (min-width: 570px) {
    /* Hero area */

    .hero__container {
        padding-top: 230px;
        text-align: center;
    }

    .hero__title {
        font-size: 2.4rem;
    }

    .hero__subtitle {
        font-size: 1rem;
    }

    /* About Us */

    .section__title {
        text-align: center;
    }
    .section__subtitle {
        text-align: center;
        padding-bottom: 2rem;
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .section__card {
        margin: 0;
    }

    .about__card3 {
        grid-column: span 2;
    }

    /* Projects Gallery */

    .projects__photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }

    .project__img {
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .project__img:first-child {
        margin-top: 0;
    }
}

@media screen and (min-width: 650px) {
    /* Contact Us */

    .contacts-container {
        display: grid;
        grid-template-columns: 30% 55% 1fr;
        justify-content: space-between;
        gap: 1rem;
    }
    .contacts__box-title {
        text-align: right;
    }

    .contacts__form {
        grid-column: 1 / -1;
    }
    .contacts__links {
        display: flex;
        flex-direction: column;
        justify-self: self-end;
    }
    .contacts__links a {
        padding-bottom: 0.5rem;
    }
    .contacts__links i {
        padding-right: 0;
    }
}

@media screen and (min-width: 768px) {
    /* Hero area */

    .hero__title {
        font-size: 2.7rem;
    }
    .hero__subtitle {
        font-size: 1.2rem;
    }
    /* About Us */

    .cards-container {
        grid-template-columns: 1fr 2fr;
    }

    .about__card2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .about__card3 {
        grid-area: 1 / 2 / 3 / 3;
    }

    /* Services */

    .service-article {
        display: flex;
        gap: 1rem;
    }

    .service-article:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .service-article__img {
        max-width: 50%;
    }

    /* Team members */

    .team__members {
        display: flex;
        justify-content: space-between;
        row-gap: 1rem;
        flex-wrap: wrap;
    }

    .member__card {
        background-color: var(--white-bgc-color);
        border-radius: var(--large-bd-radius);
        width: 45%;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .contacts__form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5rem;
        grid-template-areas:
            'element1 element2 element3'
            'textarea textarea textarea'
            'button button button';
    }

    /* Contact Us */

    .form-element1 {
        grid-area: element1;
    }
    .form-element2 {
        grid-area: element2;
    }
    .form-element3 {
        grid-area: element3;
    }
    .form-element__textarea {
        grid-row: 1 / -1;
        width: 100%;
        grid-area: textarea;
    }

    .send-btn {
        grid-area: button;
        grid-column: 3 / 4;
        justify-self: end;
    }

    /* Footer */

    .footer .main-container {
        grid-template-columns: 1fr 2fr;
        row-gap: 1rem;
        column-gap: 2rem;
        grid-template-areas:
            'quick-links subscribe'
            'quick-links follow-us'
            'copyrights copyrights';
    }
    .icons {
        flex-direction: row;
    }
}

@media screen and (min-width: 991px) {
    /* Hero area */
    .hero__title {
        font-size: 3rem;
    }

    .hero__subtitle {
        font-size: 1.2rem;
    }

    /* Nav-bar */
    .nav-grid {
        display: grid;
        grid-template-columns: 1fr auto;
    }
    .main-nav {
        display: flex;
        max-width: 100%;
        align-items: center;
    }
    .main-nav.active {
        display: flex;
    }
    .main-nav-toggle {
        display: none;
    }
    .main-nav__link {
        display: inline-block;
    }
    .main-nav__link:hover {
        color: var(--medium-text-color);
    }
    .main-nav__link:last-child {
        padding-bottom: 0.2rem;
    }

    /* Projects Gallery */

    .projects__photos {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .project__img {
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
        opacity: 0.7;
    }
    .project__img:hover {
        transform: scale(1.1);
        z-index: 2;
        opacity: 1;
    }

    /* Services */
    .articles-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .service-article {
        width: 46%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .service-article__img {
        max-width: 100%;
        height: 340px;
    }

    /* Team members */

    .team__members {
        flex-wrap: nowrap;
        column-gap: 1rem;
    }
    /* Contact Us */

    .contacts__links {
        flex-direction: row;
        align-items: end;
    }
    .contacts__links a {
        padding-bottom: 0;
        padding-right: 1rem;
    }

    .contacts__links i:hover {
        color: var(--dark-text-color);
    }

    /* Footer */

    .footer .main-container {
        grid-template-columns: 1.4fr 4fr 2fr;
        grid-template-areas:
            'quick-links subscribe follow-us'
            'copyrights  copyrights copyrights';
    }
}

@media screen and (min-width: 1200px) {
    /* Globals */
    .main-container {
        margin: 0 10% 0 0;
    }

    /* Projects Gallery */

    .projects__photos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'img5 img1 img2 img6'
            'img5 img4 img4 img6'
            'img7 img4 img4 img8'
            'img7 img3 img9 img8'
            'img10 img11 img11 img12';
    }
    .img1 {
        grid-area: img1;
    }
    .img2 {
        grid-area: img2;
    }
    .img3 {
        grid-area: img3;
    }
    .img4 {
        grid-area: img4;
    }
    .img5 {
        grid-area: img5;
    }
    .img6 {
        grid-area: img6;
    }
    .img7 {
        grid-area: img7;
    }
    .img8 {
        grid-area: img8;
    }
    .img9 {
        grid-area: img9;
    }
    .img10 {
        grid-area: img10;
    }
    .img11 {
        grid-area: img11;
    }
    .img12 {
        grid-area: img12;
    }

    /* Team members */
    .team {
        background-color: var(--white-bgc-color);
        border-radius: var(--small-bd-radius);
        box-shadow: 3px 3px 6px var(--main-bgc-color);
    }
    .team__members {
        flex-direction: column;
        align-items: center;
    }
    .team .main-container {
        margin: 0 auto;
    }
    .member__card {
        box-shadow: none;
        width: 90%;
    }

    /* Services */

    #services > .main-container {
        width: 100%;
    }

    /* Contact Us */

    #contacts > .main-container {
        width: 100%;
    }

    /* Footer */

    #footer > .main-container {
        margin: 0 auto;
    }

    .footer-follow-us {
        justify-self: right;
    }

    /* Main-grid */

    .main-grid {
        display: grid;
        grid-template-columns: 1fr 260px;
        grid-template-areas:
            'aboutus team'
            'projects team'
            'services services'
            'contacts contacts'
            'footer footer';
        max-width: 1100px;
        width: 90%;
        margin: 0 auto;
    }
    .about-us {
        grid-area: aboutus;
    }
    .projects {
        grid-area: projects;
    }
    .services {
        grid-area: services;
    }
    .team {
        grid-area: team;
    }
    .contacts {
        grid-area: contacts;
    }

    .footer {
        grid-area: footer;
    }
}
